
.mainBase{
	position: relative;
	top: 0px;
	left: 0px;
	height: 100%;
	width: 800px;
	background-color: transparent;
	z-index: 1;
}
.headerDiv{
	position: relative;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100px;
	opacity: 1;
	background-color: transparent;	
}
.titlePage{
	position: relative;
	font-size: 30px;
	font-style: italic;
	color: black;
	text-shadow: 3px 3px 10px white;
	margin-left: 0px;
}
.menuItem{
	position: relative;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 50px;
	background-color: transparent;
}
.linker{
	position: relative;
	top: 10px;
	left: 10px;
	text-decoration: none;
	color: black;
	padding: 8px 40px;
	background-color: white;
}
.linker:hover{
	position: relative;
	top: 10px;
	left: 10px;
	text-decoration: none;
	color: black;
	padding: 8px 40px;
	opacity: 0.6;
}
#img{
	position: absolute;
	top: 0px;
	left: 0px;
	margin: 0px;
	padding: 0px;
	z-index: 0;
}
<!--for the about us-->
.INFOPage{
	position: relative;
	font-size: 10px;
	font-style: italic;
	color: black;
	text-shadow: 3px 3px 10px white;
	margin-left: 0px;
}
#navBar{
	position: relative;
	top: 20px;
	left: 0px;
	width: 300px;
	height: 500px;
	background-color: transparent;
	border-right: 1px solid rgba(90,90,90,0.34);
}
.img{
	position: relative;
	top: 10px;
	left: 10px;
	text-decoration: none;
	color: white;
	font-size: 25px;
	font-style: bold;
	padding: 0px 0px;
	background-color: inherit;
}
.img:hover{
	position: relative;
	top: 10px;
	left: 10px;
	text-decoration: none;
	color: black;
	padding: 8px 40px;
	background-color: gray;
}
.desc{
	position: relative;
	font-size: 20px;
	font-style: italic;
	color: blue;
	text-shadow: 5px 5px 20px white;
	margin-left: 0px;
}
#conBar{
	position: relative;
	top: 0px;
	left: 0px;
	width: 300px;
	height: 0px;
	background-color: transparent;
}
.pic{
	position: relative;
	top: 5px;
	left: 40px
	padding: 8px 40px;
}
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

.mySlides {
    display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}
.dot {
  cursor:pointer;
  height: 13px;
  width: 13px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}